:root {
    --slk: #7D003C;
    --white: #FFF;
    --highlight: #444444;
    --neutral: #8e8e8d;
    --text: #111;
}

.hidden {
    display: none;
}

.disabled {
    opacity: 0.5;
}

body {
    width: 50vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: Garamond, serif;
}

a {
    color: var(--slk);
}

h1 {
    margin: 5vh 0 0.5vh 0;
    text-align: center;
    color: var(--slk);
}

h2 {
    text-align: center;
}

.subtitle {
    text-align: center;
    color: var(--highlight);
    font-size: 1.25 em;
}

.app-description {
    margin: 2vh 0 0 0;
    font-size: 1.15em;
    line-height: 1.5em;
    text-align: justify;
}

.actions {
    display: flex;
    justify-content: space-between;
    width: 50vw;
}

.action-container {
    flex-basis: 22.25vw;
    display: flex;
    flex-direction: column;
}

.action-description {
    font-size: 1.15em;
    line-height: 1.5em;
    text-align: justify;
}

.request-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5vh;
    font-family: "Helvetica", sans-serif;
}

.request-form .input {
    width: 90%;
    border-style: solid;
    border-color: var(--neutral);
    border-width: 0 0 2px 0;
    margin-bottom: 1vh;
    text-align: center;
    font-size: 1.5em;
    color: var(--highlight);
}

.request-form .label {
    width: 90%;
    text-align: center;
    margin-bottom: 1vh;
    color: var(--neutral);
    text-transform: uppercase;
}

.request-form .request-button {
    width: 80%;
    border-radius: 5px;
    background-color: var(--slk);
    outline: none;
    color: var(--white);
    font-size: 1.25em;
    line-height: 1.5em;
    font-family: "Helvetica", sans-serif;
}

.request-form .request-button:hover {
    cursor: pointer;
}

.results {
    font-size: 1.5em;
    color: var(--highlight);
    text-align: center;
}

.results .value {
    color: var(--slk);
    font-weight: bold;
}

.waiting {
    color: var(--highlight);
    text-align: center;
}

@media only screen and (max-width: 800px) {
    body {
        width: 90vw;
    }
    h1 {
        font-size: 1.5em;
    }
    h2 {
        margin-top: 10vh;
    }
    .information {
        font-size: 1em;
    }
    .actions {
        width: 90vw;
        display: flex;
        flex-direction: column;
    }
    .action-container {
        width: 90vw;
    }
}